body {
  background-color: #92b8f0;
}

h1 {
  border: 7px solid #95f092;
  border-radius: 10px;
  text-align: center;
}

h3 {
  text-align: center;
}

.intro{
  background-color: #f0ca92;
  padding-top: 2px
}

.paintings{
  border: 5px solid #912a2a;
  width: 713px;
  height: 300px;
}

#bird:hover {
  filter: saturate(100%);
}

#girl:hover {
  filter: saturate(100%);
}

#dude:hover {
  filter: saturate(100%);
}

.paintings table{
  display: block;
}

.paintings th{
  filter: blur(300px);
  width: 713px;
}

.paintings:hover th{
  filter: blur(0px);
}

img{
  float: left;
  width: auto;
  height: 300px;
  filter: grayscale(100%);
}

.shop{
  background-color: pink;
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.paintDisclousure{
  background-color: #9f85cc;
  width: 30%;
  height: 100px;
  position: relative;
  top: 50px;
  left: 0px;
  padding-top: 50px
}

.copyright{
  background-color: #92cc85;
  position: relative;
  top: 50px;
  left: 0px;
  width: 22%;
}
