body {
  background-color: black;
}

h1 {
  font-size: 40px ;
}
.movieContent{
  background-color: #211009;
  color: #f5dd27;
  font-family: 'Lobster', cursive;
  width: 50%;
  text-align: center;
  position: absolute;
  right: 27%;
}

#moviePoster{
  width: 75%;
}

#comingSoon {
  width: 25%;
}

.copyright{
  background-color: #f5dd27;
  font-family: 'Lobster', cursive;
  position: fixed;
  bottom: 0;
  left: 0;
}
